@model Educational_Process.Models.StudentPerformance

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности успеваемости</h1>

<div>
    <h4>StudentPerformance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            #
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Id}")
        </dd>
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Student.SecondName} {Model.Student.FirstName} {Model.Student.ThirdName}")
        </dd>
        <dt class="col-sm-2">
            Предметы
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Subject.Name.Split(";"))
            {
                <p>@item</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
